$base: "../../assets/";
.loading{
    width: 100%;height: 100vh;position: fixed;background: rgba(255, 255, 255, 0.87);z-index: 10;
}
.container-fluid{
    /*background: no-repeat linear-gradient(345deg, #f5fffa, #c0c0c0);*/
    background: url($base + 'img/loginheader.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    overflow-y: auto;
    }
.wadah{
    width: 30%;
    padding: 20px 10px;
    margin: auto;
    margin-top: -25px;
    background-color: transparent;
}
.wadah img{
    width: 25%;
    padding-bottom: 50px;
}
.input-group{
    margin: 5px 0;border: 100px;border-radius: 100px !important;
    .input-group-addon{
        border-radius: 100px 0 0 100px !important;
    }
    .form-control{
        border-radius: 0 100px 100px 0 !important;
    }
}
.button{
    border-radius: 17px;
}
.title img{
    width: 100px;
    margin: auto;
}
.footer h5{
    color: black;font-size: 15px;bottom: 0;
}
.seek {
    display:none;
}
span {
        position: absolute;
        z-index: 4;
        top: 195px;
}

/*MEDIA QUERY*/
@media screen and (max-width: 768px){
    .wadah{
        width: 80% !important;
    }
}
@media screen and (max-width: 425px){
    .wadah{
        width: 100% !important;
    }
    .title img{
        margin: auto;
        width: 18%;
    }
}
@media screen and (max-width: 375px){
    span{
        top: 190px;
    }
    .wadah img{
        width: 35%;
    }
}
@media screen and (max-width: 320px){
    .wadah img{
        width: 45%;
    }
}