$base: "../../assets/";
.loading{
    width: 100%;height: 100vh;position: fixed;background: rgba(255, 255, 255, 0.87);z-index: 10;
}
.container-fluid{
    /*background: no-repeat linear-gradient(345deg, #f5fffa, #c0c0c0);*/
    background: url($base + 'img/loginheader.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    overflow-y: hidden;
    }
.wadah{
    width: 40%;
    padding: 50px;
    margin: auto;
    margin-top: -25px;
    background-color: transparent;
}
.wadah img{
    width: 25%;
    padding-bottom: 50px;
}
.input-group{
    border: 20px;display: flex;background: white;align-items: center;
    padding: 0 0 0 20px;border-radius: 100px;overflow: hidden;color: gray;
    .icon{border-radius: 20px;border: 0px solid #283038;background-color: white;}
    .input{
        border-radius: 20px;padding: 20pxs;box-shadow: none;border: 0px solid #283038;border-left: none;
    }
}
.button{
    border-radius: 17px;
}
.title img{
    width: 100px;
    margin: auto;
}
.title h2{
    text-align: center;
    font-size: 3.5em;
    font-family: calibri;
    font-weight: 300;
}
.title h3{
    text-align: center;
    font-family: calibri;
    font-size: 2.3em;
    font-weight: 200;
}
.footer h5{
    color: black;font-size: 15px;bottom: 0;
}
.seek {
    display:none;
}
span {
        position: absolute;
        z-index: 4;
        top: 195px;
}
.hint{
    display: none;
}

/*MEDIA QUERY*/
@media screen and (max-width: 768px){
    .wadah{
        width: 60% !important;
    }
}
@media screen and (max-width: 425px){
    .wadah{
        width: 100% !important;
    }
    .title h2,.title h3{
        display: none;
    }
    .hint{
        display: block;
    }
    .title img{
        margin: 0;
        width: 18%;
    }
}
@media screen and (max-width: 375px){
    span{
        top: 190px;
    }
    .wadah img{
        width: 35%;
    }
    .hint1{
        left: 43px;
    }
}
@media screen and (max-width: 320px){
    .wadah img{
        width: 45%;
    }
    .hint{
        font-size: 20px;
    }
}