<div class="tab-pane" id="a">
  <div class="page-wrapper">
    <div class="container-fluid">

      <h3>Form Input Nilai</h3>
      <hr style="border: 0.5px solid silver;">

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <form #kelForms="ngForm">
            <div class="panel panel-default panel_input">
              <div class="panel-body">
                <div class="form-group">
                  <h3><small>Nama Kelompok</small> {{fireService.selectedKelompok.namaKel}}</h3>
                  <h3><small>Nama Ketua</small> {{fireService.selectedKelompok.ketua}}</h3>
                  <h3><small>Score</small> {{fireService.selectedKelompok.skor}}</h3>
                </div>
                <hr>
                <p>Easy = max 100 point</p>
                <p>Medium = max 200 point</p>
                <p>Hard = max 300 point</p>
                <label for="">Status Pos (ex: Easy , Medium , Hard)</label>
                <select name="postate" [(ngModel)]="statusPos" class="form-control">
                  <option [value]="1">Pos with Easy Quest</option>
                  <option [value]="2">Pos with Medium Quest</option>
                  <option [value]="3">Pos with High Quest</option>
                </select>
                <br>

                <div class="form-group" *ngIf="(statusPos == 1)">
                  <button class="btn btn-success" (click)="updateNewScore(fireService.selectedKelompok.$key , 100)">High Finished</button>
                  <button class="btn btn-warning" (click)="updateNewScore(fireService.selectedKelompok.$key , 65)">Medium Finished</button>
                  <button class="btn btn-danger" (click)="updateNewScore(fireService.selectedKelompok.$key , 30)">Low Finished</button>
                </div>

                <div class="form-group" *ngIf="(statusPos == 2)">
                  <button class="btn btn-success" (click)="updateNewScore(fireService.selectedKelompok.$key , 200)">High Finished</button>
                  <button class="btn btn-warning" (click)="updateNewScore(fireService.selectedKelompok.$key , 135)">Medium Finished</button>
                  <button class="btn btn-danger" (click)="updateNewScore(fireService.selectedKelompok.$key , 60)">Low Finished</button>
                </div>

                <div class="form-group" *ngIf="(statusPos == 3)">
                  <button class="btn btn-success" (click)="updateNewScore(fireService.selectedKelompok.$key , 300)">High Finished</button>
                  <button class="btn btn-warning" (click)="updateNewScore(fireService.selectedKelompok.$key , 205)">Medium Finished</button>
                  <button class="btn btn-danger" (click)="updateNewScore(fireService.selectedKelompok.$key , 90)">Low Finished</button>
                </div>

                <button type="submit" [routerLink]="['/dashboard']" routerLinkActive="router-link-active"  class="btn btn-default">Kembali</button>

              </div>
            </div>
          </form>
        </div>



      </div>
    </div>
  </div>
</div>