<div class="tab-pane" id="a">
  <div class="page-wrapper">
    <div class="container-fluid">

      <h3>Form Input Nilai</h3>
      <hr style="border: 0.5px solid silver;">

      <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <form #kelForms="ngForm" (submit)="updatedSkor(kelForms)">
            <div class="panel panel-default panel_input">
              <div class="panel-body">
                  <div class="form-group">
                      <h3>Nama Kelompok : {{fireService.selectedKelompok.namaKel}}</h3>
                      <h3>Nama Ketua : {{fireService.selectedKelompok.ketua}}</h3>
                      <h3>Nama Score : {{fireService.selectedKelompok.skor}}</h3>
                    </div>
                <hr>
                <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="fireService.selectedKelompok.$key" class="form-control">
                <input type="hidden" name="namaKel" #namaKel="ngModel" [(ngModel)]="fireService.selectedKelompok.namaKel" class="form-control"
                  [value]="fireService.selectedKelompok.namaKel">
                <input type="hidden" name="ketua" #ketua="ngModel" [(ngModel)]="fireService.selectedKelompok.ketua" class="form-control"
                  [value]="fireService.selectedKelompok.ketua">

                <input type="hidden" name="deskrip" #deskrip="ngModel" [(ngModel)]="fireService.selectedKelompok.deskrip" class="form-control"
                  [value]="fireService.selectedKelompok.deskrip">

                <div class="form-group">
                  <label>Pos Penilaian</label>
                  <select class="form-control">
                    <option value="">Pos 1</option>
                    <option value="">Pos 2</option>
                    <option value="">Pos 3</option>
                    <option value="">Pos 4</option>
                    <option value="">Pos 5</option>
                    <option value="">Pos 6</option>
                    <option value="">Pos 7</option>
                    <option value="">Pos 8</option>
                    <option value="">Pos 9</option>
                    <option value="">Pos 10</option>
                    <option value="">Pos 11</option>
                    <option value="">Pos 12</option>
                    <option value="">Pos 13</option>
                    <option value="">Pos 14</option>
                    <option value="">Pos 15</option>
                    <option value="">Pos 16</option>
                    <option value="">Pos 17</option>
                    <option value="">Pos 18</option>
                  </select>
                </div>

                <div class="form-group">
                    <label>Penilaian</label>
                    <div class="row cirpla">
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <div id="circle"></div>
                        <h4 style="color: black;">Perfect</h4>
                      </div>
  
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <div id="circle2"></div>
                        <h4 style="color: black;">Good</h4>
                      </div>
  
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <div id="circle3"></div>
                        <h4 style="color: black;">Average</h4>
                      </div>
  
                    </div>
                  </div>


                <div class="form-group">
                  <label>Bonus (max 5*)</label>
                  <select name="skor" #skor="ngModel" [(ngModel)]="fireService.selectedKelompok.skor" class="form-control">
                    <option [value]="plusSkorHere(fireService.selectedKelompok.skor , 5)" > Low </option>
                    <option [value]="plusSkorHere(fireService.selectedKelompok.skor , 10)" > Medium  </option>
                    <option [value]="plusSkorHere(fireService.selectedKelompok.skor , 15)" > High </option>
                  </select>
                </div>
                <button type="submit" class="btn btn-default">Kirim NIlai</button>

              </div>
            </div>
          </form>
        </div>



      </div>
    </div>
  </div>
</div>