<!--POS INDICATOR-->
<div class="tab-pane active" id="b">
  <div class="page-wrapper">
    <div class="container-fluid">
      <h3>
        <i class="fa fa-table fa-lg"></i> Absensi kehadiran</h3>
      <hr style="border: 0.5px solid silver;">


      <!--well-lg PADDING CHANGE IN 24PX->40PX IN bootstrap.css-->
      <div class="wadahpos">
        <div class="row">

          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

            <div class="panel panel-default">
              <div class="panel-body">
                <h3>
                  <small>Nama Kelompok</small> {{fireService.selectedKelompok.namaKel}}</h3>
                <h3>
                  <small>Nama Ketua</small> {{fireService.selectedKelompok.ketua}}</h3>
                <h3>
                  <small>Score</small> {{fireService.selectedKelompok.skor}}</h3>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-body">
                <form action="" method="POST" role="form">
                  <legend>Special Senior
                    <small>Score</small>
                  </legend>

                  <div class="form-group">
                    <label for="">Score</label>
                    <p>Score akan tersimpan sebanyak 300 point</p>
                  </div>

                  <div class="form-group">
                    <button type="button" class="btn btn-success form-control" (click)="updateNewScore(fireService.selectedKelompok.$key , 300)">Add</button>
                  </div>
                </form>
              </div>
            </div>

          </div>

          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

            <div class="panel panel-default">
              <div class="panel-body">
                <form #kelForms="ngForm" (submit)="updateNewScore(fireService.selectedKelompok.$key , kelForms.value.skor)">
                  <legend>Bonus
                    <small>Score (Game Bonus) </small>
                  </legend>

                  <div class="form-group">
                    <label for="">Score</label>
                  </div>

                  <div class="form-group">
                    <input type="number" class="form-control" placeholder="Input Score"
                    name="skor" #skor="ngModel" [(ngModel)]="fireService.skorSee.skor">
                  </div>

                  <div class="form-group">
                    <button type="submit" class="btn btn-success">Kirim Score</button>
                  </div>
                </form>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>