<!--POS INDICATOR-->
<div class="tab-pane active" id="b">
  <div class="page-wrapper">
    <div class="container-fluid">
      <h3>
        <i class="fa fa-table fa-lg"></i> Status Kelompok</h3>
      <hr style="border: 0.5px solid silver;">



      <!--well-lg PADDING CHANGE IN 24PX->40PX IN bootstrap.css-->
      <div class="wadahpos">

        <div class="row">
          <h4 style="color: black;text-align: left;">List Kelompok</h4>
          <div class="text-center" *ngIf="(kelompokList == null)" style="margin-top:20vh">
            <img src="../../assets/img/Rolling-1s-108px.gif" alt="">
          </div>
          <div *ngFor="let kelompok of kelompokList">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" (click)="onEdit(kelompok)">
              <h3 id="team">
                <small>Kelompok</small> {{kelompok.namaKel}} <small>Score: </small> {{kelompok.skor}}
              </h3>
              
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>