<div id="wrapper">
  <!--NAV UPPER-->
  <nav class="navbar navbar-inverse navbar-upper navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">
          <img src="assets/img/logometic.png"> INPUT DATA</a>
      </div>
      <!--BUTTON <768PX == SHOW-->
      <div class="navbar-left butpulrespon">
        <button class="btn btn-default butpul2respon" onclick="openNav()">&#9776;</button>
      </div>

      <div class="navbar-right dateright">
        <h4>{{dateForToday | date:'fullDate'}}
          <font class="hidelogout" style="cursor:pointer" (click)="logoutFormWebsite()">|
            <i class="fa fa-sign-out fa-lg"></i> Logout</font>
        </h4>
      </div>
    </div>
  </nav>

  <!--SUMMON SIDENAV IN <768PX-->
  <div id="mySidenav" class="sidenav">
    <div class="sidenav_title">
      <a href="#">
        <img src="assets/img/logometic.png" class="img-responsive">
        <h6>INPUT DATA</h6>
      </a>
    </div>

    <div class="sidenav_header">
      <div class="jarak_sideheader">
        <img src="assets/img/man.png" class="img-responsive" style="margin:auto;">
        <h4>Guest</h4>
        <h5>{{ usersEmail }}</h5>
      </div>
    </div>

    <ul class="nav">
      <li>
        <a href="#a" data-toggle="tab">
          <i class="fa fa-home fa-lg"></i> FORM INPUT NILAI</a>
      </li>
      <li>
        <a href="#b" data-toggle="tab">
          <i class="fa fa-table fa-lg"></i> TABEL NILAI</a>
      </li>
      <li>
        <a href="#c" data-toggle="tab">
          <i class="fa fa-clipboard fa-lg"></i> STATISTIK</a>
      </li>
      <li>
        <a href="#d" data-toggle="tab">
          <i class="fa fa-question-circle fa-lg"></i> BANTUAN </a>
      </li>
    </ul>
    <hr>
    <!--FOOTER IN SIDENAV <768PX-->
    <div class="footer">
      <h5 style="color: black;">&copy; Metic -
        <a href="http://www.smktelkom-mlg.sch.id/" style="color:darkred;">Smk Telkom Malang</a> 2018</h5>
    </div>

    <a class="closebtn" onclick="closeNav()">&times;</a>

  </div>

  <!--SIDE NAV >768PX-->
  <nav class="navbar-default navbar-side">

    <div class="titlenavside">
      <a href="#">
        <img src="assets/img/logometic.png" class="img-responsive">
        <h6>INPUT DATA</h6>
      </a>
    </div>

    <div class="user_view">
      <img src="assets/img/man.png" class="img-responsive">
      <h4>Guest</h4>
      <p>{{ usersEmail }}</p>
    </div>


    <ul class="nav">
      <li>
        <a href="#a" data-toggle="tab">
          <i class="fa fa-home fa-lg"></i> FORM INPUT NILAI</a>
      </li>
      <li class="active">
        <a href="#b" data-toggle="tab">
          <i class="fa fa-table fa-lg"></i> STATUS POS</a>
      </li>
      <li>
        <a href="#c" data-toggle="tab">
          <i class="fa fa-clipboard fa-lg"></i> STATISTIK</a>
      </li>
      <li>
        <a href="#d" data-toggle="tab">
          <i class="fa fa-question-circle fa-lg"></i> BANTUAN </a>
      </li>
    </ul>
    <hr>
    <!--FOOTER-->
    <div class="footer">
      <h5 style="color: black;">&copy; Metic -
        <a href="http://www.smktelkom-mlg.sch.id/" style="color:darkred;">Smk Telkom Malang</a> 2018</h5>
    </div>
  </nav>
</div>
<div class="tab-content">
  <router-outlet></router-outlet>
</div>