<div id="wrapper">
  <!--NAV UPPER-->
  <nav class="navbar navbar-inverse navbar-upper navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">
          <img src="assets/img/logometic.png"> MeticScore
        </a>
      </div>
      <!--BUTTON <768PX == SHOW-->
      <div class="navbar-left butpulrespon">
        <button class="btn btn-default butpul2respon" (click)="openNav()">&#9776;</button>
      </div>
    </div>
  </nav>

  <!--SUMMON SIDENAV IN <768PX-->
  <div id="mySidenav" class="sidenav" (click)="closeNav()">
    <div class="sidenav_title">
      <img src="assets/img/logometic.png" class="img-responsive">
      <h6>MeticScore</h6>
    </div>

    <div class="sidenav_header">
      <div class="jarak_sideheader">
        <img src="assets/img/man.png" class="img-responsive">
        <h4>Logged as</h4>
        <h5>{{ usersEmail }}</h5>
      </div>
    </div>

    <ul class="nav">
      <li>
        <a data-toggle="tab" [routerLink]="['/dashboard']" routerLinkActive="router-link-active">
          <i class="fa fa-star"></i> Score
        </a>
      </li>
      <li>
        <a data-toggle="tab" [routerLink]="['/ranking']" routerLinkActive="router-link-active">
          <i class="fa fa-line-chart"></i> Rangking
        </a>
      </li>
      <li>
        <a data-toggle="tab" [routerLink]="['/dashboard/Absensi']" routerLinkActive="router-link-active">
          <i class="fa fa-pencil-square-o"></i> Absensi</a>
      </li>
      <li>
        <a data-toggle="tab" [routerLink]="['/dashboard/addKelompok']" routerLinkActive="router-link-active">
          <i class="fa fa-plus"></i> Add new Kelompok</a>
      </li>
      <li>
        <a data-toggle="tab" (click)="logoutFormWebsite()">
          <i class="fa fa-sign-out"></i> Logout</a>
      </li>
    </ul>
    <hr>
    <!--FOOTER IN SIDENAV <768PX-->
    <div class="footer">
      <h5 style="color: black;">
        <small>
          &copy; Metic -
          <a href="http://www.smktelkom-mlg.sch.id/" style="color:darkred;">Smk Telkom Malang</a> 2018
        </small>
        <br> {{dateForToday | date:'fullDate'}}
      </h5>
    </div>
  </div>

  <!--SIDE NAV >768PX-->
  <nav class="navbar-default navbar-side">

    <div class="titlenavside">
      <img src="assets/img/logometic.png" class="img-responsive">
      <h6>MeticScore</h6>
    </div>

    <div class="user_view">
      <img src="assets/img/man.png" class="img-responsive">
      <h4>Logged as</h4>
      <p>{{ usersEmail }}</p>
    </div>


    <ul class="nav">
      <li>
        <a data-toggle="tab" [routerLink]="['/dashboard']" routerLinkActive="router-link-active">
          <i class="fa fa-star"></i> Score
        </a>
      </li>
      <li>
        <a data-toggle="tab" [routerLink]="['/ranking']" routerLinkActive="router-link-active">
          <i class="fa fa-line-chart"></i> Rangking
        </a>
      </li>
      <li>
        <a data-toggle="tab" [routerLink]="['/dashboard/Absensi']" routerLinkActive="router-link-active">
          <i class="fa fa-pencil-square-o"></i> Absensi</a>
      </li>
      <li>
        <a data-toggle="tab" [routerLink]="['/dashboard/addKelompok']" routerLinkActive="router-link-active">
          <i class="fa fa-plus"></i> Add new Kelompok</a>
      </li>
      <li>
        <a data-toggle="tab" (click)="logoutFormWebsite()">
          <i class="fa fa-sign-out"></i> Logout</a>
      </li>
    </ul>
    <hr>
    <!--FOOTER-->
    <div class="footer">
      <h5 style="color: black;">
        <small>
          &copy; Metic -
          <a href="http://www.smktelkom-mlg.sch.id/" style="color:darkred;">Smk Telkom Malang</a> 2018
        </small>
        <br> {{dateForToday | date:'fullDate'}}
      </h5>
    </div>
  </nav>
</div>
<div class="tab-content">
  <!-- <h1>
    {{dateForToday | date:'fullDate'}}
  </h1> -->
  <router-outlet></router-outlet>
</div>