<!--STATISTIC-->
<div class="tab-pane " id="c">
  <div class="page-wrapper">
    <div class="container-fluid">
      <div class="jarak" style="padding-bottom: 2%;">
        <h3>Statistik
          <a [routerLink]="['/ranking']" routerLinkActive="router-link-active" >
            <small style="color:cadetblue;"> Open in Full view
              <i class="fa fa-external-link" aria-hidden="true"></i>
            </small>
          </a>
        </h3>
        <hr style="border: 0.5px solid silver;">
        <p style="text-align:right;">Terakhir update 08:20:13 WIS</p>
      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Kelompok</th>
            <th class="text-right">Score</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let kelompok of kelompokList | orderBy: key : reverse ; let i = index">
            <td>
              <h3>{{i + 1}} . {{kelompok.namaKel}}</h3>
            </td>
            <td>
              <h1 class="text-right">{{kelompok.skor}}</h1>
            </td>
          </tr>
        </tbody>
      </table>


    </div>
  </div>

</div>