<!--STATISTIC-->
<div class="tab-pane " id="c">
  <div class="page-wrapper">
    <div class="container-fluid">
      <div class="jarak" style="padding-bottom: 2%;">
        <h3>Statistik</h3>
        <hr style="border: 0.5px solid silver;">
        <p style="text-align:right;">Terakhir update 08:20:13 WIS</p>
      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Kelompok</th>
            <th class="text-right">Score</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <h3>Alpha</h3>
            </td>
            <td>
              <h1 class="text-right">1000</h1>
            </td>
          </tr>
        </tbody>
      </table>


    </div>
  </div>

</div>