<!--STATISTIC-->
<div class="tab-pane " id="c">
  <div class="page-wrapper">
    <div class="container-fluid">
      <div class="jarak" style="padding-bottom: 2%;">
        <h3>Statistik</h3>
        <hr style="border: 0.5px solid silver;">
        <p style="text-align:right;">Terakhir update 08:20:13 WIS</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <canvas id="rank" width="500" height="450"></canvas>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <canvas id="rank2" width="500" height="450"></canvas>
      </div>

    </div>
  </div>

</div>